body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(90, 7, 7);
    background-color: rgb(104, 231, 225);
    
}

.task{
    background-color: rgb(240, 163, 163);
    padding:  10px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.task-done{
    text-decoration:  line-through;
    color: gray;
}
button{
    margin: left 5px;
}
#tasks{
    margin-top: 20px;
}